/* GridGallery.css */

.gallery-title {
    font-size: 1.5rem;
    text-align: left;
    color: #333;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}


.grid-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: space-between;  
    padding: 0 1rem;
}