/* Estilos para la tarjeta de imagen */
.image-card {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    background-color: #fff;
}

/* Contenedor de la tarjeta de imagen */
.image-card-content {
    text-align: center;
}

/* Estilo del contenedor de la imagen */
.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

/* Estilo de la imagen */
.image-container img {
    width: 100%;
    height: 100%;
}
